<form name="frmReceipt" class="form-horizontal" role="form" (ngSubmit)="frmReceipt.form.valid" #frmReceipt="ngForm" novalidate>
<div class="row form-group">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-content">            
                <div class="row form-group">
                    <div class="col-sm-5">
                        <strong>{{poReceipt._id ? 'PO Receipt #'+poReceipt.receipt_number : 'New PO Receipt'}}</strong>
                    </div>               

                    <div class="col-sm-5 vertical-align pull-right">
                       <div><strong>Receipt Date:</strong></div>
                       <div>
                        <ng-datepicker *ngIf="!poReceipt.billed" class="form-control date_picker_wrap" style="padding:0;" [options]="DatepickerOptions" name="receipt_date" [(ngModel)]="poReceipt.receipt_date" required>
                        </ng-datepicker>
                        <span *ngIf="poReceipt.billed">{{poReceipt.receipt_date | date : 'MM/dd/yyyy' }}</span>
                       </div>
                    </div>

                    <div class="col-sm-2 vertical-align" *ngIf="poReceipt._id">
                        <strong>Status:</strong> {{(poReceipt.billed)?'Billed':'Not Billed'}}
                    </div>
                </div>
                
                <div class="row form-group" *ngIf="!poReceipt.billed">
                    <div class="col-sm-12">
                        <tag-input
                            [placeholder]='"Select Item"'
                            [secondaryPlaceholder] = '"Select Items"'
                            [onTextChangeDebounce]=0       
                            [(ngModel)]="poReceipt.items" 
                            #item_name="ngModel" 
                            name="item_name" 
                            (onAdd) = onItemAdding(poReceipt.items) 
                            required>
                            <tag-input-dropdown 
                                [showDropdownIfEmpty]="true"
                                [keepOpen]="false"
                                [autocompleteItems]="receiptItemsTag">
                            </tag-input-dropdown>
                        </tag-input>
                    </div>                        
                </div>

                <div class="row form-group">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>                                
                                        <th style="width: 40%">Item</th>
                                        <th style="width: 40%">Unit</th>                                
                                        <th style="width: 20%">Received</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let value of poReceipt.items; let i = index" class="">
                                        <td> {{value.name}} </td>
                                        <td> {{value.unit}} </td>                                
                                        <td>
                                            <div class="vertical-align">                    
                                                <div *ngIf="!poReceipt.billed">                    
                                                    <a (click)="removeReceived(i)"><i class="zmdi zmdi-minus"></i></a>
                                                </div>
                                                <div style="width: 20px; text-align: center;">{{value.received ? value.received : 1}}</div>
                                                <div *ngIf="!poReceipt.billed">
                                                    <a (click)="addReceived(i, value.item_id)"><i class="zmdi zmdi-plus"></i></a>
                                                </div>
                                            </div>                                            
                                        </td>                                
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row form-group" *ngIf="!poReceipt.billed">
                    <div class="col-sm-4 pull-left">
                        <strong>Additional Information</strong>
                        <textarea rows="3" class="form-control" name="additional_info" [(ngModel)]="poReceipt.additional_info"></textarea>
                    </div>
                </div> 

                <div class="row form-group" *ngIf="poReceipt.billed">
                    <div class="col-sm-4 pull-left">
                        <strong>Additional Information</strong>
                        <div>{{poReceipt.additional_info}}</div>                        
                    </div>
                </div>                

                <div class="accordian-space">
                    <strong>Atachment:</strong>
                    <div *ngIf="poReceipt.attachment && poReceipt._id">
                        <b>{{poReceipt?.attachment.split('upload/')[1]}}</b>
                        <a href="{{apiUrl + poReceipt?.attachment}}" target="_blank" class="icon-size" download>  <i class="fa fa-cloud-download" ></i></a>
                    </div>                   
                   
                    <div *ngIf="!poReceipt.billed">
                        <i class="fa fa-cloud-upload btn-file icon-size cursor-pointer">
                        <input type="file" id="fileUploadId" (change)="fileChange($event)" 
                        name="files" placeholder="Upload file">
                        </i>
                     {{file.name}}
                    </div>   
                </div>
                
                <div class="row form-group">
                    <div class="col-sm-4 col-sm-offset-8">
                        <button type="button" *ngIf="!poReceipt.billed" [disabled]="!frmReceipt.form.valid" class="btn btn-primary waves-effect waves-button waves-float" (click)="!poReceipt._id ?  saveReceipt() : editReceipt()">Save</button>
                        <button type="button" (click)="onPdf()" *ngIf="poReceipt?._id" class="btn btn-primary waves-effect waves-button waves-float">PDF</button>
                        <button type="button" *ngIf="poReceipt?._id" (click)="onEmail()" class="btn btn-primary waves-effect waves-button waves-float">Email</button>
                        <button type="button" *ngIf="!poReceipt.billed && poReceipt._id" (click)="onDelete()" class="btn btn-danger waves-effect waves-button waves-float">Delete</button>
                        <button type="button" *ngIf="!poReceipt._id" class="btn btn-primary waves-effect waves-button waves-float" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>