<div class="animated fadeInDown">
    <div class="text-center">
        <div class="row m-md">
            <img src="assets/images/logo.png" style="width: 300px;">            
        </div>        
      	<p>Hi {{ purchaseOrder?.purchase_order_id?.vendorObject[0].name }}, you have been requested by <b>{{ purchaseOrder?.company_id?.companyName }}</b> to quote your price for the below purchase order.</p>   
    </div>		
<form [formGroup]="poForm" (ngSubmit)="onSubmit()" class="" novalidate>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row form-group">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row form-group">
                        <div class="col-sm-7"></div>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <div class="col-lg-12">                                            
                                        </div>    
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">PO#</label>
                                        <div class="col-lg-9">{{purchaseOrder?.purchase_order_id?.po_number}}</div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label class="col-lg-5 control-label">PO Date</label>
                                        <div class="col-lg-7">{{ purchaseOrder?.purchase_order_id?.po_date | date }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                           
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Shipping Address</label>
                        </div>
                        <div class="col-sm-10">
                            <div class="row">                                
                                <div class="col-sm-12">
                                    <div class="form-group">                                        
                                        <div class="col-lg-12">
                                        {{ purchaseOrder?.purchase_order_id?.location[0]?.display }},  
                                        {{ purchaseOrder?.purchase_order_id?.address }}</div>
                                    </div>
                                </div>                                                              
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label class="control-label">ITEMS DETAILS</label>
                        </div>
                    </div>                    
                    <div class="row form-group table-section-add-po">
                        <div class="col-sm-12">
                            <div class="full-height-scroll">
                                <div class="table-responsive">
		                            <table colspacing="0" colpadding="0" class="table table-striped table-hover">
		                                <thead>
		                                    <tr>
		                                        <th class="col-md-3">Item</th>
		                                        <th class="col-md-4">Description</th>
                                                <th class="col-md-2">Unit</th>
		                                        <th class="col-md-1">Quantity</th>
		                                        <th class="col-md-1">Price(&#36;)</th>
		                                        <th class="col-md-1">Total</th>        
		                                    </tr>    
		                                </thead>
		                                <tbody formArrayName="items">
                                            <tr *ngFor="let item of items.controls; let i = index;" [formGroupName]="i">		                                    
		                                        <td>{{item.value.name}}</td>   
		                                        <td>{{item.value.description}}</td>
                                                <td>{{item.value.unit}}</td>
		                                        <td>{{item.value.quantity}}</td>
		                                        <td><input class="form-control" (keyup)="calLineTotal(i)" formControlName="price"></td>
		                                        <td>&#36;{{item.value.total}}</td>                      
		                                    </tr>
		                                </tbody>                                
		                                <tfoot>  
		                                    <tr>
		                                        <td>&nbsp;</td>
		                                        <td>&nbsp;</td>
		                                        <td>&nbsp;</td>
                                                <td>&nbsp;</td>
		                                        <td><label>Subtotal</label></td>
		                                        <td class="custom-form-control"> &#36;{{ poForm.value.sub_total }} </td>
		                                    </tr>                              
		                                    <tr>
		                                        <td>&nbsp;</td>
		                                        <td>&nbsp;</td>
		                                        <td>&nbsp;</td>
                                                <td>&nbsp;</td>
		                                        <td><label>Tax ({{ purchaseOrder?.purchase_order_id?.tax_percentage }}%)</label></td>
		                                        <td class="custom-form-control"> &#36;{{ poForm.value.tax }} </td>
		                                    </tr>                                    
		                                    <tr>
		                                        <td>&nbsp;</td>
		                                        <td>&nbsp;</td>
		                                        <td>&nbsp;</td>
                                                <td>&nbsp;</td>
		                                        <td><label>Grand Total</label></td>
		                                        <td class="custom-form-control">&#36;{{ poForm.value.gtotal }}
		                                        </td>
		                                    </tr>
		                                </tfoot>
		                            </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">                        
                        <div class="col-sm-4">
                            <div class="row">
                                <label class="col-sm-12" for="Notes">Notes</label>
                                <div class="col-sm-12">{{ purchaseOrder?.purchase_order_id?.notes }}</div>
                            </div>
                        </div>                        
                    </div>
                    
                    <div class="row">
                        <div class="form-group pull-right">
                            <div class="col-sm-12 col-sm-offset-2 pull-right">        
                                <button type="button" class="btn btn-w-m btn-primary waves-effect waves-button waves-float" (click)="confirm()" >Confirm</button>   
                                <button type="submit" [disabled]="poForm.invalid" class="btn btn-w-m btn-primary waves-effect waves-button waves-float">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>


<!-- <div>
    form {{ poForm.value | json }}
</div> -->









        
        <p class="m-t"> <small>Company &copy; 2018</small> </p>
    
</div>