<app-loader [isLoading]="isLoading"></app-loader>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{po_modal?._id?'Edit':'New'}} Purchase Order</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/dashboard']">Home</a>
            </li>
            <li>
                <a [routerLink]="['/purchase-order/list']" >Purchase Orders</a>
            </li>
            <li class="active">
                <strong> {{po_modal?._id?'Edit':'New'}} </strong>
            </li>
        </ol>
    </div>    
</div>
<form [formGroup]="poForm" (ngSubmit)="onSubmit()" class="form-horizontal" novalidate>
<div class="wrapper wrapper-content">
    <div class="row form-group">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row form-group" *ngIf="!po_modal?._id && templates.length > 0">
                        <div class="col-sm-3">
                            <label class="control-label">Create From Template</label>
                        </div>
                        <div class="col-sm-5">
                            <ng-select 
                                [items]="templates"
                                bindLabel="title"
                                bindValue="_id"
                                placeholder="Select Template"
                                (add)="setPOFromTemplate($event._id)">
                            </ng-select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label class="control-label">Location</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <div class="col-lg-12"> 

<!-- <span tooltip="content to be shown in the tooltip"
      [tooltipDisabled]="false"
      [tooltipAnimation]="true"
      tooltipPlacement="left">
    Info
</span> -->

<!-- <tooltip-content #myTooltip [animation]="true" placement="left">
    <b>Very</b> <span style="color: #C21F39">Dynamic</span> <span style="color: #00b3ee">Reusable</span>
    <b><i><span style="color: #ffc520">Tooltip With</span></i></b> <small>Html support</small>.
</tooltip-content> 
<button [tooltip]="myTooltip">element on which this tooltip is applied.</button> -->




                                            <tag-input 
                                                (onAdd)="onAddingLocation()" 
                                                (onRemove)="onRemovingLocation()" 
                                                [placeholder]='"Select Location"'
                                                [secondaryPlaceholder] = '"Select Location"'
                                                formControlName="location" 
                                                [maxItems]='1'>
                                                <tag-input-dropdown 
                                                    [showDropdownIfEmpty]="true"
                                                    [autocompleteItems]="locationTags">
                                                </tag-input-dropdown>
                                            </tag-input>
                                        </div>    
                                    </div>
                                </div>                                
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">PO Date</label>
                                        <div class="col-lg-8">
                                            <ng-datepicker class="form-control date_picker_wrap" style="padding:0;" [options]="DatepickerOptions" formControlName="po_date">
                                            </ng-datepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label class="control-label">Vendor</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">                                        
                                        <div class="col-lg-9">
                                            <tag-input 
                                                (onAdd)="setVendor()" 
                                                (onRemove)="setVendor()" 
                                                [placeholder]='"Select Vendor"'
                                                [secondaryPlaceholder] = '"Select Vendor"'
                                                formControlName="vendor" 
                                                [maxItems]='1'>
                                                <tag-input-dropdown 
                                                    [showDropdownIfEmpty]="true"
                                                    [autocompleteItems]="vendorTags">
                                                </tag-input-dropdown>
                                            </tag-input>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Delivery Date</label>
                                        <div class="col-lg-8">
                                            <ng-datepicker class="form-control date_picker_wrap" style="padding:0;" [options]="DatepickerOptions" formControlName="delivery_date">
                                            </ng-datepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                        
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label class="control-label">Shipping Address</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="row">                                
                                <div class="col-sm-12">
                                    <div class="form-group">                                        
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control" formControlName="address">
                                        </div>
                                    </div>
                                </div>                                                              
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label class="control-label">ITEMS DETAILS</label>
                        </div>
                    </div>                    
                    <div class="row form-group table-section-add-po">
                        <div class="col-sm-12">
                            <div class="full-height-scroll">
                                <div class="table-responsive">
                            <table colspacing="0" colpadding="0" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-md-2">Item</th>
                                        <th class="col-md-2">Description</th>
                                        <th class="col-md-2">Unit</th>
                                        <th class="col-md-1">Quantity</th>
                                        <th class="col-md-1">Price</th>
                                        <th class="col-md-1">Tax (%)</th>
                                        <th class="col-md-1">Tax (&#36;)</th>
                                        <th class="col-md-1">Total (&#36;)</th>
                                        <th class="col-md-1"></th>
                                    </tr>    
                                </thead>
                                <tbody formArrayName="items">
                                    <tr *ngFor="let item of items.controls; let i = index;" [formGroupName]="i">
                                        <td>
                                            <ng-select 
                                                [items]="itemsArray"
                                                bindLabel="name"
                                                bindValue="id"
                                                placeholder="Select Item"
                                                (add)="setItem(i, $event.id)"
                                                formControlName="id">
                                            </ng-select>                                            
                                        </td>   
                                        <td>
                                            <input class="form-control" formControlName="description">
                                        </td>
                                        <td>                                            
                                            <div *ngFor="let j of unitsArray">
                                                <div *ngIf="j.id == item.value.id">
                                                    <select class="form-control" formControlName="unit" (change)="getBestPrice($event.target.value,j.id,i)">
                                                        <option *ngFor="let un of j.data" value= {{un.unit}}>
                                                            {{un.unit}}
                                                        </option>
                                                    </select>
                                                </div>                                                
                                            </div>                                   
                                        </td>
                                        <td>
                                            <input class="form-control" formControlName="quantity" (keyup)="calLineTotal(i)" numbersOnly>
                                        </td>
                                        <td>
                                            <input class="form-control" formControlName="price" (keyup)="calLineTotal(i)" numbersOnly [dotAllowed]="true">
                                        </td>
                                        <td>
                                            <input class="form-control" formControlName="tax" (keyup)="calLineTotal(i)" numbersOnly [dotAllowed]="true">
                                        </td>
                                        <td><span class="form-control">{{item.value.tax_amount}}</span>
                                            <!-- <input class="form-control" formControlName="tax_amount" (keyup)="calLineTotal(i)" numbersOnly [dotAllowed]="true"> -->
                                        </td>
                                        <td><span class="form-control">{{item.value.total}}</span>
                                            <!-- <input class="form-control" formControlName="total"> -->
                                        </td>
                                        <td>
                                            <div class="vertical-align">
                                                <div *ngIf="info[i] && info[i]!=''">
                                                    <a href="javascript:void(0);" data-toggle="tooltip" title="{{ info[i] }}"><i class="zmdi zmdi-info zmdi-hc-lg"></i></a>
                                                </div>
                                                <div><a (click)="removeItem(i)" *ngIf="items.controls.length > 1"><i class="zmdi zmdi-delete zmdi-hc-lg"></i></a></div>
                                            </div>                                            
                                        </td>
                                    </tr>
                                </tbody>                                
                                <tfoot> 
                                    <tr>
                                        <td>
                                            <a (click)="addItem()"><i class="zmdi zmdi-plus zmdi-hc-2x"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="8">&nbsp;</td>
                                    </tr>
                                    <tr [hidden]="total_quantity == ''" style="border-top: 1px solid lightgray">
                                        <td><label>Grand Total</label></td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td><span class="form-control">{{total_quantity}}</span></td>
                                        <td><span class="form-control">{{total_price}}</span></td>
                                        <td>&nbsp;</td>
                                        <td><span class="form-control">{{total_tax_amount}}</span></td>
                                        <td class="custom-form-control">
                                        <span class="form-control">{{poForm.value.gtotal}}</span>
                                        <!-- <input class="form-control" formControlName="gtotal"> --></td>
                                        <td>&nbsp;</td>
                                    </tr>

                                    <!-- <tr>
                                        <td>                                            
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>                                        
                                        <td colspan="2"><label class="pull-right">Subtotal</label></td>
                                        <td class="custom-form-control"><input class="form-control" formControlName="sub_total"></td>
                                        <td>&nbsp;</td>
                                    </tr>                              
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td colspan="2"><label class="pull-right">Tax</label></td>
                                        <td colspan="2"><label class="pull-right">Tax <input type="text" numbersOnly [dotAllowed]="true"  style="width:50px" formControlName="tax_percentage" (keyup)="setTax($event.target.value)" (change)="setTax($event.target.value)">%</label></td>
                                        <td class="custom-form-control"><input class="form-control" formControlName="tax"></td>
                                        <td>&nbsp;</td>
                                    </tr>                                    
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>                                        
                                        <td colspan="2"><label class="pull-right">Grand Total</label></td>
                                        <td class="custom-form-control"><input class="form-control" formControlName="gtotal"></td>
                                        <td>&nbsp;</td>
                                    </tr> -->
                                </tfoot>
                            </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">                        
                        <div class="col-sm-4">
                            <div class="row">
                                <label class="col-sm-12" for="Notes">Notes</label>
                                <div class="col-sm-12">
                                    <textarea rows="3" class="form-control" formControlName="notes"></textarea>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="col-sm-12" for="Notes">Attachment</label>
                                    <div class="col-sm-12">
                                        <span class="btn btn-primary btn-file">
                                        select file<input type="file" id="fileUploadId" (change)="fileChange($event)" 
                                        name="files" placeholder="Upload file">
                                        </span>                        
                                    </div>  
                                </div>
                                <div class="col-sm-9"> 
                                    <span>{{fileName}}</span> 
                                </div>                                                          
                            </div>                            
                        </div>
                    </div>
                    
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <div class="vertical-align">
                                <div><input type="checkbox" formControlName="sent_to_vendor" ></div>
                                <div><span>On saving, send the purchase order for quote to vendor</span></div>
                            </div>
                        </div>                        
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">        
                            <button type="submit" [disabled]="poForm.invalid" class="btn btn-w-m btn-primary waves-effect waves-button waves-float pull-right">{{po_modal?._id?'Update':'Save'}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <!-- <div>
       form : {{poForm.value | json }}
   </div> -->


</div>
</form>



