/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.7.1
 *
*/
/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

/* Drag-n-Drop css */
@import "assets/css/drag-drop/dragula.min.css";
@import "assets/css/drag-drop/drag-drop.css";

// Variables, Mixins
@import "imports/variables";
@import "imports/mixins";

// INSPINIA Theme Elements
@import "imports/typography";
@import "imports/navigation";
@import "imports/top_navigation";
@import "imports/buttons";
@import "imports/badges_labels";
@import "imports/elements";
@import "imports/sidebar";
@import "imports/base";
@import "imports/pages";
@import "imports/chat";
@import "imports/metismenu";
@import "imports/spinners";

// Landing page styles
@import "imports/landing";

// RTL Support
@import "imports/rtl";

// For demo only - config box style
@import "imports/theme-config";

// INSPINIA Skins
@import "imports/skins";
@import "imports/md-skin";

// Media query style
@import "imports/media";

// Custom style
// Your custom style to override base style
@import "imports/custom";

// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }
  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0;
  }
}

//Validations CSS
 .ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #00aeef !important; /* blue */
}

  .ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}



//Add Purchase Order CSS
.Custom_Form_Styles .card-header li.nav-item {
    padding: 0;
    border: 0;
    background: #fff;
    font-size:0.75rem !important;
}

.Custom_Form_Styles .card-header li.nav-item a {
    margin: 0 0.5em;
    padding: 8px;
    background: #eee;
    color: #aaa;
    cursor: default;
    border-radius: 5px;
}

.Custom_Form_Styles .card-header li.nav-item:first-child a {
    margin-left: 0;
}

.Custom_Form_Styles .card-header li.nav-item:last-child a {
    margin-right: 0;
}

.Custom_Form_Styles .card-header li.nav-item.active a {
    background: $navy;
    color: #fff;
}

form-wizard.Custom_Form_Styles .card-footer {
    text-align: right;
    padding: 10px 0;
}

form-wizard.Custom_Form_Styles .card-footer button.btn.btn-secondary {
    background: #eee;
    color: #aaa;
    padding: 0.4em 1em;
    text-decoration: none;
    border-radius: 5px;
    border: 0;
    box-shadow: none;
}

form-wizard.Custom_Form_Styles .card-footer button.btn.btn-secondary.active {
    background: $navy;
    color: #fff;
}
.Custom_Form_Styles {
    display: table;
    width: 100%;
    background-color: #ffffff;
    color: inherit;
    padding: 20px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    margin-top: 30px;
}
.Custom_Form_Styles .card-block {
    background-color: #eee;
    display: block;
    border-radius: 5px;
    margin-top: 15px;
    width: 100%;
    height: 95%;
    padding: 0 2.5% 2.5% 2.5%;
}
.ngx-datepicker-calendar-container.ngx-datepicker-position-bottom-right{z-index: 9;}

@media (min-width:1200px) {
.Custom_Form_Styles .card-block .form-group {
  width: 66.66666667%;
}
}

textarea.Comment_Textarea {
    width: 100%;
    max-width: 52%;
    min-height: 75px;
    text-align: left;
    border: 1px solid #e6d6d6;
}

.Custom_Form_Styles .full_form_group .form-group {
    max-width: 100%;
    display: table;
    width: 100%;
}

.ibox-content.purchase-order-wizard .card-block{overflow: visible;}

html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown), body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown){
    overflow-y: initial !important;
}

body{padding-right: 0px !important;}
.ibox-content .nav-tabs > li > a {padding: 10px 20px 10px 15px; }

.tab-content .table-responsive{
  overflow-x: inherit;
}
html {
    font-size: inherit !important;
}



.profile-image input[type="file"] {
    background: white none repeat scroll 0 0;
    cursor: inherit;
    display: block;
    font-size: 100px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    outline: medium none;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

#profile-image-section{
    position: relative;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


[hidden] {
display: none !important;
}

#upload-user-image-hidden {  position: absolute; cursor: pointer; text-align: center;
padding-left: 54px; }

#profile-image-section:hover #upload-user-image-hidden { display:block; }


.Custom_Form_Styles .card-block {
    padding-top: 20px;
}
.date_picker_wrap .ngx-datepicker-container .ngx-datepicker-input {
    width: 100% !important;
    border: 0 !important;
}

@media (min-width: 1200px) {
.Custom_Form_Styles .card-block .vendor_Form_wrap .form-group {
    width: 40%;
}
}

.set-image-height{
    width: 100%;
    margin-left: 20%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

ng2-dropdown-menu { z-index: 9999!important; .ng2-dropdown-menu { z-index: 9999!important; ng2-menu-item { z-index: 9999!important; } } }

.ngx-datepicker-position-bottom-right{
    right: 0;
    left:unset !important;    
}

.close-icon{
	margin-top: -10px;	
}
.fav-star{
	margin-right: 8px;
	color: #337ab7;
}
.fade-power{
	color: #A9A9A9 !important;
}

.ng2-tag-input__text-input{
    height: unset !important;
}
tag{
    border-radius:unset !important;
}

div[role='tab'], .cursor-pointer{
    cursor: pointer;
}

/*
* CSS Edited 22.03.2018
*/
.role-employee .ng-select.ng-single .ng-control {
    height: auto  !important;
    min-height: 10px  !important;
    padding: 6px 12px !important;
}

.role-name {
    position: relative;
}

.role-name .form-control {
    width: 90%; 
}

.role-name .delete-icon {
    position: absolute;
    right: 15px;
    top: 3px;
    font-size: 18px;
 }
 /* new css 23-March */
.panel-body{padding: 20px !important;} 
.panel-title{position: relative;}
/*.panel-title a{display: block;}*/
.panel-heading .zmdi{float: right;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: -3px;
}
.collapsed .zmdi-minus:before {
    content: '\f278' !important;
}
.zmdi-minus:before {
    content: '\f273';
}
.task_list{padding: 0px;}
.task_list .ibox-content{padding: 0px;}
.task_tittle{font-size: 18px; display: block; padding: 15px 20px 10px 20px;border-bottom: 1px solid #dcdcdc;}
.task_body{height: 200px; overflow: auto; padding: 15px 20px 20px 20px; display: block;}
ul.list_name{display: block; width: 100%;padding: 0px; margin: 0px;}
ul.list_name li{position: relative; display: block; margin: 0px; list-style: none; display: block; padding: 5px 0;}
ul.list_name li label{display: inline-block;}
ul.list_name li label input[type="checkbox"]{
    float: left;
    margin: 3px 5px 0 0;
}
ul.list_name li .zmdi{position: absolute; right: 0; font-size: 13px; font-weight: bold;top: 8px;}
.ngx-pagination{    
    padding: 20px;
    margin: 0px;
}
.file_name{display: block; width: 100%;padding: 0 15px;}
.file_name span{background: #e7eaec; display: inline-block; padding: 5px 5px 5px 10px; margin: 4px; border-radius: 3px;}
.file_name span a{ float: right; margin: 3px 0 0 2px; color: #333;}
.task_tag{
    padding: 3%;
}

.file_name{display: block; width: 100%;padding: 0 15px;}
.file_name span{background: #e7eaec; display: inline-block; padding: 5px 5px 5px 10px; margin: 4px; border-radius: 3px;}
.file_name span a{ float: right; margin: 3px 0 0 2px; color: #333;}
.task_tag{
    padding: 3%;
}
// html  body.md-skin .cdk-overlay-container .owl-dt-calendar-table .owl-dt-calendar-cell-selected { 
//     background-color: #00aeef !important;
// }
// html  body.md-skin .cdk-overlay-container .owl-dt-timer-hour12 .owl-dt-timer-hour12-box:focus .owl-dt-control-button-content, .owl-dt-timer-hour12 .owl-dt-timer-hour12-box:hover .owl-dt-control-button-content { 
//     background: #00aeef !important;
// }
// html body .owl-dt-timer-hour12{

//     color: none;
// }



html  body.md-skin .cdk-overlay-container .owl-dt-container-buttons{color: #707070 !important;}
// html{top: 0px !important;}

// html.cdk-global-scrollblock{top:0!important;}

/*body.fixed-sidebar .navbar-static-side, body.canvas-menu .navbar-static-side {
    bottom: 0;
}*/



/*
* MK
*/
body.fixed-sidebar .navbar-static-side, body.canvas-menu .navbar-static-side {
    bottom: 0;
    height:calc(100% - 60px);
}

.fixed-nav .slimScrollDiv #side-menu{padding-bottom: 0;}  
.profile-element i{display: none;}
.profile-element:hover i{display: block;}

.cdk-overlay-container{
    z-index: 99999 !important;
}
.clList > li:after{content: ""; display: block; visibility: hidden; clear: both; font-size:0; line-height:0;}
.wtFrame{background: #fff;}
.centeredLine:after{position: absolute; height: calc(100% - 20px); width: 2px; left: 50%; top:20px; background: #000;}
.frameSection{margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid #eee; padding:20px;} 
.dateVenue p{margin-bottom:0; }
.titleDash{font-size:14px; font-weight: 700; margin: 0 0 10px;}
.btnSml{line-height: 1.3; font-size: 12px;}
.listNone{list-style: none; padding: 0; margin: 0;}
.labeledList > li{padding:10px;}
.strippedList > li:nth-child(even){background: #f1f1f1;}
.labeledList > li label{width: 60%; float: left; margin-bottom:0; font-weight:400;}
.valueSpan{float: right; width:40%; text-align: right;}

.upcomingTimeOff > li{padding:10px; position: relative;}
.upcomingTimeOff > li p{margin: 0; padding: 0;}
.pending{color:blue;}
.approved{color:green;}
.rejected{color:red;}
.actionDiv{position:absolute; right:5px; top:5px; font-size: 16px;}
.fBtn{width: 100%; display: block; margin-bottom: 5px;}
.schBtns .btn{padding-left: 5px; padding-right: 5px;}

.iboxTitle{position: relative; padding-right: 30px;}
.iboxTitle .close-link{position: absolute; right: 0; top:0;}

.owl-dialog-container{
    overflow: unset !important;
}