<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Purchase Orders</h2>
        <ol class="breadcrumb">
            <li><a [routerLink]="['/dashboard']">Home</a></li>
            <li class="active"><strong>Purchase Orders</strong></li>
        </ol>
    </div>    
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <p style="float: right;">                   
                        <button type="button" class="btn btn-w-m btn-primary" [routerLink]="['/purchase-order/new']">Add Purchase Order</button>
                    </p>                    
                    <app-search-purchase-order (onSearchEvent)="onSearch($event)" [searchPlaceHolder]="searchPlaceHolder" ></app-search-purchase-order>                   
                    <div class="clients-list">
                        <ul class="nav nav-tabs">
                            <span class="pull-right small text-muted">{{purchase_orders.length}} records</span>
                            <li [ngClass]="{'active' : filter_keyword=='Pending'}" class="active"><a (click)="filterOrders('Pending')"><i class="zmdi zmdi-local-atm zmdi-hc-lg"></i><span class="tab-caption">Pending</span></a></li>
                            <li [ngClass]="{'active': filter_keyword=='Complete'}"><a (click)="filterOrders('Complete')"><i class="zmdi zmdi-local-atm zmdi-hc-lg"></i><span class="tab-caption">Completed</span></a></li>
                        </ul>
                        <div><app-loader [isLoading]="isLoading"></app-loader></div>
                        <div class="tab-content" *ngIf="purchase_orders.length == 0">
                            <div id="tab-1" class="tab-pane active panel-body">
                                No records found!
                            </div>
                        </div>
                        <div class="tab-content" *ngIf="purchase_orders.length > 0">
                            <div class="full-height-scroll">                            
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" (click)="checkAll($event.target.checked)" [checked]="btnCheckAll"></th>   
                                                <th>
                                                    <div (click)="onSortChange('po_number')" class="sort">
                                                    PO#
                                                    <i class="zmdi zmdi-sort-amount-asc" *ngIf="sortColumn=='po_number' && sortBy == 'asc'"></i>
                                                    <i class="zmdi zmdi-sort-amount-desc" *ngIf="sortColumn=='po_number' && sortBy == 'desc'"></i>
                                                    </div>
                                                </th>
                                                <th>Vendor</th>
                                                <th>
                                                    <div (click)="onSortChange('po_date')" class="sort">
                                                        PO Date
                                                    <i class="zmdi zmdi-sort-amount-asc" *ngIf="sortColumn=='po_date' && sortBy == 'asc'"></i>
                                                    <i class="zmdi zmdi-sort-amount-desc" *ngIf="sortColumn=='po_date' && sortBy == 'desc'"></i>                        
                                                    </div>
                                                </th>
                                                <th>
                                                    <div (click)="onSortChange('delivery_date')" class="sort">
                                                        Delivery Date
                                                    <i class="zmdi zmdi-sort-amount-asc" *ngIf="sortColumn=='delivery_date' && sortBy == 'asc'"></i>
                                                    <i class="zmdi zmdi-sort-amount-desc" *ngIf="sortColumn=='delivery_date' && sortBy == 'desc'"></i>                        
                                                    </div>
                                                </th>
                                                <th>
                                                    <div (click)="onSortChange('gtotal')" class="sort">
                                                    Total
                                                    <i class="zmdi zmdi-sort-amount-asc" *ngIf="sortColumn=='gtotal' && sortBy == 'asc'"></i>
                                                    <i class="zmdi zmdi-sort-amount-desc" *ngIf="sortColumn=='gtotal' && sortBy == 'desc'"></i>                    
                                                    </div>
                                                </th>
                                                <th>
                                                    <div>
                                                    Status
                                                    </div>
                                                </th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let poObject of purchase_orders | paginate: config; let i = index" class="">
                                                <td>
                                                <input type="checkbox" name="checkRecord[]" (click)="onCheck(poObject._id, $event.target.checked, i )" [checked]="checkAllObject[poObject._id]">  
                                                </td>                                                
                                                <td><a [routerLink]="['/purchase-order/view/'+poObject._id]" class="client-link">{{poObject.po_number}}</a></td>
                                                <td>{{ poObject.vendorObject[0].name }}</td>
                                                <td>{{ poObject.po_date | date }}</td>
                                                <td>{{ poObject.delivery_date | date }}</td>
                                                <td> &#36;{{poObject.gtotal}}</td>
                                                <td>{{poObject.poStatus}}</td>
                                                <td class="client-status">
                                                    <div class="vertical-align">
                                                        <!-- <div>
                                                            <a (click)="setStatus(!poObject.isDeleted, poObject._id)" title="{{poObject.isDeleted?'Activate':'Deactivate'}}"><i class="zmdi zmdi-power zmdi-hc-lg" [ngClass]="{'fade-power' : poObject.isDeleted}"></i></a>
                                                        </div> -->
                                                        <div *ngIf="poObject.poStatus=='New'">
                                                            <a [routerLink]="['/purchase-order/edit/'+poObject._id]" title="Edit"><i class="zmdi zmdi-edit zmdi-hc-lg"></i></a>
                                                        </div>                                                
                                                        <div>
                                                            <a [routerLink]="['/purchase-order/view/'+poObject._id]" title="View"><i class="zmdi zmdi-trending-up zmdi-hc-lg"></i></a>
                                                        </div>
                                                    </div>
                                                </td>            
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3">
                                                    <pagination-controls [id]="config.id" [maxSize]="maxSize" [directionLinks]="directionLinks" [autoHide]="autoHide" [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel" [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                                        [screenReaderPageLabel]="labels.screenReaderPageLabel" [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel" (pageChange)="onPageChange($event)">
                                                    </pagination-controls>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>                        
                            </div> 
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>