<form name="frmPayment" class="form-horizontal" role="form" (ngSubmit)="frmPayment.form.valid" #frmPayment="ngForm" novalidate>
<div class="row form-group">
	<div class="col-sm-12">
		<div class="ibox">
    		<div class="ibox-content">
                <div class="row form-group">
                    <div class="col-sm-4">                            
                        <strong>{{payment._id ? 'Payment #'+payment.payment_number : 'New Payment'}}</strong>
                    </div>                                            
                    <div class="col-sm-5 vertical-align pull-right">
                       <div><strong>Payment Date:</strong></div>
                       <div>
                        <ng-datepicker *ngIf="!payment.paid" class="form-control date_picker_wrap" style="padding:0;" [options]="DatepickerOptions" name="payment_date" [(ngModel)]="payment.payment_date">
                        </ng-datepicker>                               
                        <span *ngIf="payment.paid">{{payment.payment_date | date : 'MM/dd/yyyy' }}</span>
                       </div>
                    </div>

                    <div class="col-sm-3">
                        <strong>Status:</strong>
                        <span *ngIf="payment.paid"> {{ (payment.paid)?'Paid':Pending }} </span>
                        <select name="paid" [(ngModel)]="payment.status" *ngIf="!payment.paid">
                            <option value="false">Pending</option>
                            <option value="true">Paid</option>
                        </select> 
                    </div>
                </div>

    			<div class="row form-group" *ngIf="!payment.paid">
                    <div class="col-sm-12">                        
                        <tag-input 
                            [placeholder]='"Select Bill"'
                            [secondaryPlaceholder] = '"Select Bills"' 
                            [onTextChangeDebounce]=0  
                            [(ngModel)]="payment.bills" 
                            #bill_name="ngModel" 
                            name="bill_name" 
                            (onAdd)="onAdding($event)"
                            (onRemove)="onRemoving($event)" 
                            required>
                            <tag-input-dropdown 
                                [showDropdownIfEmpty]="true"
                                [keepOpen]="false"
                                [autocompleteItems]="billsCopy">
                            </tag-input-dropdown>
                        </tag-input>
                    </div>
    			</div>
    			
    			<div class="table-responsive">
    				<table class="table table-striped table-hover">
    					<thead>
    						<tr>
    							<th width="40%">Bill#</th>
    							<th width="40%">Bill Date</th>
    							<th width="20%">Total</th>
    						</tr>
    					</thead>
    					<tbody>
    						<tr *ngFor="let value of payment.bills">
    							<td>{{value.bill_number}}</td>
    							<td>{{value.bill_date | date : 'MM/dd/yyyy'}}</td>
    							<td>$ {{value.total.toFixed(2)}}</td>
    						</tr>
    					</tbody>                            
                        <tfoot *ngIf="payment.total > 0">
                            <tr>
                                <td></td>
                                <td><span class="pull-right"><strong>Grand Total</strong></span></td>
                                <td>$ {{payment.total.toFixed(2)}}</td>
                            </tr>
                        </tfoot>
    				</table>
    			</div>

    			<div class="row form-group" *ngIf="!payment.paid">
    				<div class="col-sm-4 pull-left">
                        <strong>Additional Information</strong>    				
                        <textarea rows="3" class="form-control" name="additional_info" [(ngModel)]="payment.additional_info"></textarea>
                    </div>
    			</div>

                <div class="row form-group" *ngIf="payment.paid">
                    <div class="col-sm-4 pull-left">
                        <strong>Additional Information</strong>                    
                        <div>{{payment.additional_info}}</div>                        
                    </div>
                </div>

                <div class="row form-group">   
                    <div class="col-sm-6">                 
                        <div *ngIf="payment.attachment && payment._id">
                            <strong>Atachment:</strong>
                            <b>{{payment?.attachment.split('upload/')[1]}}</b>
                            <a href="{{apiUrl + payment?.attachment}}" target="_blank" class="icon-size" download> <i class="fa fa-cloud-download" ></i></a>
                        </div>
                        <div *ngIf="!payment.paid">
                            <i class="fa fa-cloud-upload btn-file icon-size cursor-pointer">
                            <input type="file" id="fileUploadId" (change)="fileChange($event)" 
                            name="files" placeholder="Upload file">
                            </i>
                         {{file.name}}
                        </div> 
                    </div>  
                </div>    			
                
                <div class="row form-group">
                    <div class="col-sm-4 col-sm-offset-8">
                        <button type="button" *ngIf="!payment.paid" [disabled]="!frmPayment.form.valid" class="btn btn-primary waves-effect waves-button waves-float" (click)="!payment._id ?  savePayment() : editPayment()">Save</button>
                        <button type="button" (click)="onPdf()" *ngIf="payment?._id" class="btn btn-primary waves-effect waves-button waves-float">PDF</button>
                        <button type="button" (click)="onEmail()" *ngIf="payment?._id" class="btn btn-primary waves-effect waves-button waves-float">Email</button>
                        <button type="button" *ngIf="!payment.paid && payment?._id" (click)="onDelete()" class="btn btn-danger waves-effect waves-button waves-float">Delete</button>
                        <button type="button" *ngIf="!payment._id" class="btn btn-primary waves-effect waves-button waves-float" (click)="cancel()">Cancel</button>
                    </div>
                </div>

    		</div>
		</div>
	</div>
</div>
</form>

