<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Purchase Order Templates</h2>
        <ol class="breadcrumb">
            <li><a [routerLink]="['/dashboard']">Home</a></li>
            <li><a [routerLink]="['/purchase-order/list']">Purchase Orders</a></li>
            <li class="active"><strong>Purchase Order Templates</strong></li>
        </ol>
    </div>    
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row form-group">                        
                        <div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
                            <div class="btn-group">
                                <button type="button" (click)="filterRecords('all')" [ngClass]="{active: filterButton==='all'}" class="btn btn-primary waves-effect waves-button waves-float">All</button>
                                <button type="button" (click)="filterRecords(false)" [ngClass]="{active: filterButton==='active'}" class="btn btn-primary waves-effect waves-button waves-float">Active</button>
                                <button type="button" (click)="filterRecords(true)" [ngClass]="{active: filterButton==='deactive'}" class="btn btn-primary waves-effect waves-button waves-float">Deactive</button>
                            </div>
                        </div>                    
                        <div class="col-sm-3">                   
                            <button type="button" class="btn btn-w-m btn-primary pull-right" [routerLink]="['/purchase-order-template/new']">Add Template</button>
                        </div>
                    </div>
                                        
                    <app-search-purchase-order (onSearchEvent)="onSearch($event)" [searchPlaceHolder]="searchPlaceHolder"></app-search-purchase-order>
                    <div class="clients-list">
                        <ul class="nav nav-tabs">
                            <span class="pull-right small text-muted">{{purchase_orders.length}} Records</span>
                        </ul>
                        <div><app-loader [isLoading]="isLoading"></app-loader></div>
                        <div class="tab-content" *ngIf="purchase_orders.length == 0">
                            <div id="tab-1" class="tab-pane active panel-body">
                                No records found!
                            </div>
                        </div>
                        <div class="tab-content" *ngIf="purchase_orders.length > 0">
                            <div class="full-height-scroll">                            
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" (click)="checkAll($event.target.checked)" [checked]="btnCheckAll"></th>   
                                                <th>
                                                    <div (click)="onSortChange('title')" class="sort">
                                                    Title
                                                    <i class="zmdi zmdi-sort-amount-asc" *ngIf="sortColumn=='title' && sortBy == 'asc'"></i>
                                                    <i class="zmdi zmdi-sort-amount-desc" *ngIf="sortColumn=='title' && sortBy == 'desc'"></i>
                                                    </div>
                                                </th>
                                                <th>
                                                    Vendor
                                                </th>
                                                <th>
                                                    Location
                                                </th>
                                                <th>
                                                    <div (click)="onSortChange('gtotal')" class="sort">
                                                    Total
                                                    <i class="zmdi zmdi-sort-amount-asc" *ngIf="sortColumn=='gtotal' && sortBy == 'asc'"></i>
                                                    <i class="zmdi zmdi-sort-amount-desc" *ngIf="sortColumn=='gtotal' && sortBy == 'desc'"></i>                    
                                                    </div>
                                                </th>
                                                <!-- <th>
                                                    <div (click)="onSortChange('created_date')" class="sort">
                                                        Created On
                                                    <i class="zmdi zmdi-sort-amount-asc" *ngIf="sortColumn=='created_date' && sortBy == 'asc'"></i>
                                                    <i class="zmdi zmdi-sort-amount-desc" *ngIf="sortColumn=='created_date' && sortBy == 'desc'"></i>                        
                                                    </div>
                                                </th> -->                                                
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody> 
                                            <tr *ngFor="let poObject of purchase_orders | paginate: config; let i = index" class="">
                                                <td>
                                                <input type="checkbox" name="checkRecord[]" (click)="onCheck(poObject._id, $event.target.checked, i )" [checked]="checkAllObject[poObject._id]">  
                                                </td>
                                                <td><a [routerLink]="['/purchase-order-template/edit/'+poObject._id]" class="client-link">{{poObject.title}}</a></td>
                                                <td>
                                                    {{poObject.vendor[0].display }}
                                                </td>
                                                <td>
                                                    {{poObject.location[0].display }}
                                                </td>
                                                <td>{{poObject.gtotal}}</td>
                                                <!-- <td>{{ poObject.created_date | date }}</td> -->
                                                <td class="client-status">
                                                    <div class="vertical-align">
                                                        <div>
                                                            <a (click)="setStatus(!poObject.isDeleted, poObject._id)" title="{{poObject.isDeleted?'Activate':'Deactivate'}}"><i class="zmdi zmdi-power zmdi-hc-lg" [ngClass]="{'fade-power' : poObject.isDeleted}"></i></a>
                                                        </div>
                                                        <div>
                                                            <a [routerLink]="['/purchase-order-template/edit/'+poObject._id]"><i class="zmdi zmdi-edit zmdi-hc-lg"></i></a>
                                                        </div>                                                 
                                                    </div>
                                                </td>            
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3">
                                                    <pagination-controls [id]="config.id" [maxSize]="maxSize" [directionLinks]="directionLinks" [autoHide]="autoHide" [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel" [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                                        [screenReaderPageLabel]="labels.screenReaderPageLabel" [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel" (pageChange)="onPageChange($event)">
                                                    </pagination-controls>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>                        
                            </div> 
                        </div>
                  </div> 
                </div>
            </div>
        </div>
    </div>
</div>