<form name="frmBill" class="form-horizontal" role="form" (ngSubmit)="frmBill.form.valid" #frmBill="ngForm" novalidate>
<div class="row form-group">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-content">
                <div class="row form-group">
                    <div class="col-sm-5">                            
                        <strong>{{bill._id ? 'Bill# '+bill.bill_number : 'New Bill'}}</strong>
                    </div>
                    <div class="col-sm-5 vertical-align pull-right">
                        <div><strong>Bill Date:</strong></div>
                        <div>
                            <ng-datepicker *ngIf="!bill.paid" class="form-control date_picker_wrap" style="padding:0;" [options]="DatepickerOptions" [(ngModel)]="bill.bill_date" name="bill_date" required>
                            </ng-datepicker>
                            <span *ngIf="bill.paid">{{bill.bill_date | date : 'MM/dd/yyyy' }}</span>
                        </div>
                    </div>
                    <div class="col-sm-2 vertical-align" *ngIf="bill._id">
                        <strong>Status:</strong> {{(bill.paid)?'Paid':'Not Paid'}}
                    </div>
                </div>

                <div class="row form-group" *ngIf="!bill.paid">                    
                    <div class="col-sm-12">
                        <tag-input 
                            [placeholder]='"Select Receipt"'
                            [secondaryPlaceholder] = '"Select Receipts"' 
                            [(ngModel)]="bill.po_receipt" 
                            #receipt_name="ngModel" 
                            name="receipt_name" 
                            (onAdd)="onAdding($event)" 
                            (onRemove)="onRemoving($event)"
                            (onFocus)="onFocusing()"
                            required>
                            <tag-input-dropdown 
                                [showDropdownIfEmpty]="true"
                                [keepOpen]="false"
                                [autocompleteItems]="poReceiptCopy">
                            </tag-input-dropdown>
                        </tag-input>    
                    </div>
                </div>

                <div class="row form-group" *ngIf="bill.paid">
                    <div class="col-sm-12"><strong>Receipts: #</strong>
                        <span *ngFor="let receipt of bill.po_receipt">
                            <span class="label">{{receipt.display}}</span>                        
                        </span>                    
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Unit</th>
                                <th>Description</th>
                                <th>Quantity</th>                                
                                <th>Price</th>
                                <th>Tax (%)</th>
                                <th>Tax Amount</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let value of bill.items">
                                <td>{{value?.name}}</td>
                                <td>{{value?.unit}}</td>
                                <td>{{value?.description}}</td>
                                <td>{{value?.received}}</td>                                
                                <td>{{value.price | currency}}</td>
                                <td>{{value.tax}}</td>
                                <td>{{(((value.price)*(value.received))*(value.tax/100)) | currency }}</td>
                                <td>{{ ((value.price)*(value.received)) + (((value.price)*(value.received))*(value.tax/100)) | currency }}</td>
                            </tr>
                        </tbody>
                        <tfoot *ngIf="bill.total">
                            <tr>
                                <td colspan="5"></td>
                                <td colspan="2"><span class="pull-right">Sub Total</span></td>
                                <td>{{bill.sub_total | currency}}</td>                                
                            </tr>
                            <tr>                                
                                <td colspan="5"></td>
                                <td colspan="2"><span class="pull-right">Tax</span></td>
                                <td>{{bill.tax | currency }}</td>        
                            </tr>
                            <tr>
                                <td colspan="5"></td>
                                <td colspan="2"><span class="pull-right">Total</span></td>
                                <td>{{bill.total | currency}}</td>                                
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="row form-group" *ngIf="!bill.paid">
                    <div class="col-sm-4 pull-left">
                        <strong>Additional Information</strong> 
                        <textarea rows="3" class="form-control" name="additional_info" [(ngModel)]="bill.additional_info"></textarea>
                    </div>
                </div>

                <div class="row form-group" *ngIf="bill.paid">
                    <div class="col-sm-4 pull-left">
                        <strong>Additional Information:</strong> 
                        <div>{{poReceipt.additional_info}}</div>                         
                    </div>
                </div>

                <div class="accordian-space">
                    <strong>Atachment:</strong>
                    <div *ngIf="bill.attachment && bill._id">
                        <b>{{bill?.attachment.split('upload/')[1]}}</b>
                        <a href="{{apiUrl + bill?.attachment}}" target="_blank" class="icon-size" download>  <i class="fa fa-cloud-download" ></i></a>
                    </div>                   
                   
                    <div *ngIf="!bill.paid">
                        <i class="fa fa-cloud-upload btn-file icon-size cursor-pointer">
                        <input type="file" id="fileUploadId" (change)="fileChange($event)" 
                        name="files" placeholder="Upload file">
                        </i>
                     {{file.name}}
                    </div>   
                </div>

                <div class="row form-group">
                    <div class="col-sm-4 col-sm-offset-8">
                        <button type="button" *ngIf="!bill.paid" [disabled]="!frmBill.form.valid" class="btn btn-primary waves-effect waves-button waves-float" (click)="!bill._id ?  saveBill() : editBill()">Save</button>
                        <button type="button" (click)="onPdf()" *ngIf="bill?._id" class="btn btn-primary waves-effect waves-button waves-float">PDF</button>
                        <button type="button" (click)="onEmail()" *ngIf="bill?._id" class="btn btn-primary waves-effect waves-button waves-float">Email</button>
                        <button type="button" *ngIf="!bill.paid && bill?._id" (click)="onDelete()" class="btn btn-danger waves-effect waves-button waves-float">Delete</button>
                        <button type="button" *ngIf="!bill._id" class="btn btn-primary waves-effect waves-button waves-float" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>