<div class="row wrapper border-bottom white-bg page-heading">
    <div><app-loader [isLoading]="isLoading"></app-loader></div>
    <div class="col-lg-12">
        <h2>View Purchase Order</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/dashboard']">Home</a>
            </li>
            <li>
                <a [routerLink]="['/purchase-order/list']">Purchase Orders</a>
            </li>
            <li class="active">
                <strong>View</strong>
            </li>
        </ol>
    </div>    
</div>
<div class="wrapper wrapper-content" *ngIf="poObject">
    <div class="row form-group">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                	<div class="row form-group">
                		<div class="col-sm-3">
		                	<button type="button" (click)="onPoPDF()" class="btn btn-primary waves-effect waves-button waves-float">Pdf</button>
                            <button type="button" (click)="onPoCSV()" class="btn btn-primary waves-effect waves-button waves-float">CSV</button>
		                 	<button type="button" (click)="openPOEmailModal()" class="btn btn-primary waves-effect waves-button waves-float">Email</button>
                		</div>                		
                        <div class="col-sm-2">
                            <span><strong>PO#:</strong> {{poObject.po_number}}</span>
                        </div>
                        <div class="col-sm-2">
                            <span><strong>Date:</strong> {{poObject.po_date | date : 'MM/dd/yyyy'}}</span>
                        </div>
                        <div class="col-sm-2">
                            <span><strong>Delivery:</strong> {{poObject.delivery_date | date : 'MM/dd/yyyy'}}</span>
                        </div>
                        <div class="col-sm-3">
                            <span><strong>Status:</strong> {{poObject.poStatus}}</span>
                        </div>
                	</div>                	
                	<div class="row form-group">
                		<div class="col-sm-4">
                			<div>
                				<b>VENDOR :</b>  {{poObject?.vendorObject[0].name}}
                			</div>
                			<div>
                				 {{poObject?.vendorObject[0].address}} {{poObject?.vendorObject[0].zip}}
                			</div>
                			<div>
                				{{poObject?.vendorObject[0].phone}}
                			</div>
                		</div>
                		<div class="col-sm-4">
                			<div><b>BILL TO:</b></div>
                			<div>
                				{{poObject.locationObject[0].billing.address}}  {{poObject.locationObject[0].billing.postal_code}}
                			</div>
                			<div>
                				{{poObject.locationObject[0].phone}}
                			</div>
                		</div>
                		<div class="col-sm-4">                			
                			<div><b>SHIP TO:</b></div>
                			<div>
                				{{poObject.locationObject[0].shipping.address}}  {{poObject.locationObject[0].shipping.postal_code}}
                			</div>
                			<div>
                				{{poObject.locationObject[0].phone}}
                			</div>                			
                		</div>
                	</div>                    
                	<div class="table-responsive">
                		<table class="table table-striped table-hover">
                			<thead>
                				<tr>
                					<th>#</th>
                					<th>Item</th>
                					<th>Description</th>
                					<th>Unit</th>
                					<th>Qty</th>
                					<th>Price</th>
                                    <th>Tax (%)</th>
                                    <th>Tax Amount</th>
                					<th>Line Total</th>
                					<th>Received</th>
                					<th>Billed</th>
                					<th>Paid</th>
                					<th>Outstanding</th>
                				</tr>
                			</thead>
                			<tbody>
                				<tr *ngFor="let item of poObject.items let i=index" class="">
                					<td>{{i+1}}</td>
                					<td>{{item.name}}</td>
                					<td>{{item.description}}</td>
                					<td>{{item.unit}}</td>
                					<td>{{item.quantity}}</td>
                					<td>&#36;{{ item.price }}</td>
                                    <td>{{ item.tax }}</td>
                                    <td>&#36;{{ item.tax_amount }}</td>
                					<td>&#36;{{item.total}}</td>
                					<td>{{item.received}}</td>
                					<td>{{item.billed}}</td>
                					<td>{{item.paid}}</td>
                					<td> {{ (item.quantity - item.paid <=0)?0:(item.quantity - item.paid) }} </td>
                				</tr>
                				<tr>
                					<td></td>
                					<td></td>
                					<td></td>
                					<td>Total</td>
                					<td></td>
                					<td></td>
                                    <td></td>
                                    <td>&#36;{{ itemsTrackData.subTotalTax }}</td>
                					<td>&#36;{{ poObject?.gtotal }}</td>
                					<td>&#36;{{ itemsTrackData.subTotalReceived }}</td>
                					<td>&#36;{{ itemsTrackData.subTotalBilled }}</td>
                					<td>&#36;{{ itemsTrackData.subTotalPaid }}</td>
                					<td>&#36;{{ itemsTrackData.subTotalOutstanding }}</td>
                				</tr>                				
                			</tbody>
                		</table>
                	</div>
                	<div class="row">
                		<div class="col-sm-8">
                			<div><strong>Notes</strong></div>
            				<p>{{poObject.notes}}</p>
            				<div>Attachments:</div>
            				<div *ngIf="poObject?.attachment">{{poObject?.attachment.split('upload/')[1]}} <a href="{{apiUrl + poObject?.attachment}}" download>  <i class="fa fa-cloud-download"></i></a>
                            </div>
                		</div>
                		<div class="col-sm-4">
                			<div class="head-color">PO Confirmed</div>
                            <div [hidden]="poObject.sent_to_vendor">
                                PO was not sent to vendor for confirmation
                            </div>
                            <div [hidden]="!poObject.sent_to_vendor">
                                PO has been sent to vendor for confirmation
                            </div>                   
                            <div [hidden]=!poObject.confirmed_by_vendor>
                                <div>Confirmed by {{poObject?.vendorObject[0].name}}</div>
                            </div>
                		</div>
                	</div>
                	<div class="accordian-space">
                	   <accordion [showArrows]="true">
                            <accordion-group  *ngFor="let type of purchaseOrderType" heading="{{type.name}}">
                                <accordion [showArrows]="true" *ngFor="let poType of poTypes[type.value]">
                                     <accordion-group heading="{{type.label + ' ' + poType[type.value +'_number']}}">
                                        <div *ngIf="type.name=='PO Receipts'">
                                            <app-purchase-order-receipt 
                                                [poObject]="poObject" 
                                                [poReceipt]="poType"
                                                (onSave)="saveHandler($event)"  
                                                (showMessage)="showMessage($event)" 
                                                (emailEvent)="openEmailModal($event)"
                                                (pdfEvent)="generatePDF($event)">
                                            </app-purchase-order-receipt> 
                                        </div>

                                        <div *ngIf="type.name =='Bills'">
                                            <app-purchase-order-bill 
                                                [poReceipt]="poTypes['receipt']" 
                                                [poObject]="poObject"
                                                (onSave)="saveHandler($event)"  
                                                (showMessage)="showMessage($event)" 
                                                (emailEvent)="openEmailModal($event)"
                                                (pdfEvent)="generatePDF($event)" 
                                                [bill]="poType">
                                            </app-purchase-order-bill>
                                        </div>

                                        <div *ngIf="type.name =='Payments'">
                                            <app-purchase-order-payment 
                                                [bills]="poTypes['bill']" 
                                                [payment]="poType" 
                                                [index]="i" 
                                                [poId]="poObject._id"  
                                                (onSave)="saveHandler($event)" 
                                                (showMessage)="showMessage($event)" 
                                                [index]="i"  
                                                (delete)="deletePoType($event)"
                                                (emailEvent)="openEmailModal($event)" 
                                                (pdfEvent)="generatePDF($event)">
                                            </app-purchase-order-payment>
                                        </div>
                                     </accordion-group>
                                </accordion>
                                <div *ngFor="let count of counts[type.value]; let i= index" class="row">
                                    <div *ngIf="type.name=='PO Receipts'" class="col-sm-12">
                                        <app-purchase-order-receipt 
                                            [poObject]="poObject" 
                                            (onSave)="saveHandler($event)" 
                                            (delete)="deletePoType($event)"
                                            (showMessage)="showMessage($event)" 
                                            [index]="i">
                                        </app-purchase-order-receipt> 
                                    </div>
                                    <div *ngIf="type.name=='Bills'" class="col-sm-12">
                                        <app-purchase-order-bill 
                                            [poReceipt]="poTypes['receipt']" 
                                            [poObject]="poObject" 
                                            (onSave)="saveHandler($event)" 
                                            (delete)="deletePoType($event)"
                                            (showMessage)="showMessage($event)" 
                                            [index]="i">
                                        </app-purchase-order-bill>
                                    </div>
                                    <div *ngIf="type.name=='Payments'" class="col-sm-12">
                                        <app-purchase-order-payment 
                                            [bills]="poTypes['bill']" 
                                            [index]="i" 
                                            [poId]="poObject._id"  
                                            (onSave)="saveHandler($event)" 
                                            (showMessage)="showMessage($event)"
                                            (delete)="deletePoType($event)">
                                        </app-purchase-order-payment>
                                    </div>                                    
                                </div>
                                <span class="cursor-pointer" [hidden]="!showSave[type.value]" (click)="addNew(type.value)"><i class="fa fa-plus"></i> Add New {{type.label}}</span>
                            </accordion-group> 
                       </accordion>
                	</div>
            	</div>
            </div>
        </div>
    </div>
</div>

<!-- Email Modal begins -->
<bs-modal [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="emailModalClosed()" (onDismiss)="emailModalDismissed(frm)" [cssClass]="cssClass" #emailModal>
        <form name="frm" class="form-horizontal" role="form" (ngSubmit)="frm.form.valid && sendEmail(frm)" #frm="ngForm" novalidate>
        <bs-modal-header [showDismiss]="true">
            <h4 class="modal-title">Send Email</h4>            
        </bs-modal-header>
        <bs-modal-body>        
            <div class="form-group">   
                <label class="col-sm-12" for="email">To</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" autocomplete="off" required [(ngModel)]="emailModel.email" name="email" #email="ngModel" email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" maxlength="50">
                  <div *ngIf="email.errors && (email.dirty||email.touched)" class="alert alert-danger">
                     <div [hidden]="!email.errors.required">Email is required.</div>
                     <div [hidden]="!email.errors.pattern">Not a valid emails.</div>
                  </div>
                </div>
            </div>
            <div class="form-group">   
                <label class="col-sm-12" for="subject">Subject</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" autocomplete="off" required [(ngModel)]="emailModel.subject" name="subject" #subject="ngModel" maxlength="200" minlength="5">
                    <div *ngIf="subject.errors && (subject.dirty||subject.touched)" class="alert alert-danger">
                        <div [hidden]="!subject.errors.required">Subject is required.</div>
                        <div [hidden]="!subject.errors.minlength">Too short!</div>
                    </div>
                </div>
            </div>
            <div class="form-group">   
                <label class="col-sm-12" for="body">Content</label>
                <div class="col-sm-12">
                    <textarea class="form-control" autocomplete="off" required [(ngModel)]="emailModel.body" name="body" #body="ngModel" maxlength="400" minlength="5"></textarea>
                    <div *ngIf="body.errors && (body.dirty||body.touched)" class="alert alert-danger">
                        <div [hidden]="!body.errors.required">Please enter email content.</div>
                        <div [hidden]="!body.errors.minlength">Too short!</div>
                    </div>
                </div>
            </div>
        </bs-modal-body>
        <bs-modal-footer>
            <button type="button" class="btn btn-default waves-effect waves-button waves-float" (click)="emailModal.dismiss()">Cancel</button>
            <button type="submit" class="btn btn-primary waves-effect waves-button waves-float" [disabled]="!frm.form.valid" (click)="emailModal.close()">Send</button>
        </bs-modal-footer>
    </form>
</bs-modal> 
<!-- email Modal ends -->